body {
    color: yellow;
    background-color: blue;
}

.category_nav a {
  float: left;
  width: 16%;
  padding: 5px;
}

.about_section {
    color: red;
}

.category_nav::after {
  content: "";
  clear: both;
  display: table;
}